.main__btn-container {
  text-align: center;
  margin: 1em 0 2em;
}

.main__btn-container-back {
  margin: 1em 0 2em;
}

.main__edit-container {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
