<a href="/articles/<%= @id %>">メモに戻る</a>
<form action="/articles/<%= @id %>/edit" method="post" class="">
  <input type="hidden" name="_method" value="patch">
  <div class="">
    <input type="text" placeholder="メモのタイトル" name="title" value="<%= CGI.escape_html(@article_title) %>" class="">
  </div>
  <div class="">
    必須項目
    <textarea placeholder="メモの本文" name="content" class="" required><%= CGI.escape_html(@article_content) %></textarea>
  </div>
  <div class="">
    <button type="submit" name="" class="">変更する</button>
  </div>
</form>
