<div class="main__btn-container-back">
  <a href="/articles/<%= @article[:id] %>">◀ メモに戻る</a>
</div>

<form action="/articles/<%= @article[:id] %>" method="post" class="nes-container with-title form">
  <h2 class="title">メモをなおす</h2>
  <input type="hidden" name="_method" value="patch">
  <div class="form__group">
    <input type="text" placeholder="メモのタイトル" name="title" value="<%= @article[:title] %>" class="nes-input">
  </div>
  <div class="form__group">
    <textarea placeholder="メモの本文" name="content" rows="6" class="nes-textarea" required><%= @article[:content] %></textarea>
    <span class="nes-text is-error form__note">※ほんぶんは かならず にゅうりょくしてね！</span>
  </div>
  <div class="form__group">
    <button type="submit" name="" class="nes-btn form__btn">メモをなおす</button>
  </div>
</form>
