<a href="/articles/new">メモを追加する</a>
<ul class="memo-list">
  <% @articles.each do |article| %>
    <li class="memo-list__item">
      <a href="/articles/<%= article["id"] %>" class="memo-list__link">
        <%= CGI.escape_html(article["title"]).empty? ? 'タイトルなし' : CGI.escape_html(article["title"]) %>
      </a>
    </li>
  <% end %>
</ul>
