<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>メモを追加</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <form action="/articles" method="post" class="">
      <div class="">
        <input type="text" placeholder="メモのタイトル" name="title" class="">
      </div>
      <div class="">
        <textarea placeholder="メモの本文" name="content" class=""></textarea>
      </div>
      <div class="">
        <button type="submit" name="" class="">メモを保存する</button>
      </div>
    </form>
  </body>
</html>
