<a href="/articles">トップに戻る</a>
<form action="/articles/new" method="post" class="">
  <div class="">
    <input type="text" placeholder="メモのタイトル" name="title" class="">
  </div>
  <div class="">
    必須項目
    <textarea placeholder="メモの本文" name="content" class="" required></textarea>
  </div>
  <div class="">
    <button type="submit" name="" class="">メモを保存する</button>
  </div>
</form>
